$max-width: 700px !default;

// Padding used for layout margins
$pad-min: 18px !default;
$pad-narrow: 25px !default;
$pad-medium: 35px !default;
$pad-wide: 55px !default;

// Sidebar widths used in media queries
$sidebar-width-medium: 240px !default;
$sidebar-pad-medium: 15px !default;
$sidebar-pad-wide: 20px !default;
$sidebar-width-wide: 300px !default;

$indented-lists: false !default;

$header-font-size: 1em !default;
$header-padding-top: 1.5em !default;
$header-padding-bottom: 1.5em !default;

.group { @include pie-clearfix; }

body {
	-webkit-text-size-adjust: none;
	max-width: $max-width;
	position: relative;
	margin:0 auto;
	> header, > nav, > footer, #content > article, #content > div > section {
		@extend .group;
		padding-left: $pad-min;
		padding-right: $pad-min;
		@media only screen and (min-width: 480px){
			padding-left: $pad-narrow;
			padding-right: $pad-narrow;
		}
		@media only screen and (min-width: 768px){
			padding-left: $pad-medium;
			padding-right: $pad-medium;
		}
		@media only screen and (min-width: 992px){
			padding-left: $pad-wide;
			padding-right: $pad-wide;
		}
	}
	#main > header {
		font-size: $header-font-size;
		padding-top: $header-padding-top;
		padding-bottom: $header-padding-bottom;
		@media only screen and (min-width: 768px){
			text-align:center;
		}
	}
	#main > footer {
		@media only screen and (min-width: 768px) {
			text-align: center;
		}
	}
}

#content {
	overflow: hidden;
	> div, > article { width: auto }
}

@media only screen and (min-width: 550px) {
	body > header { font-size: $header-font-size; }
}

#main, #content, .sidebar {
	@extend .group;
}
#content {
	> nav {
		padding-left: 18px;
		> ul li {
			display: inline;
		}			
	}
}

@if $indented-lists == false {
	@media only screen and (min-width: 768px){
		ul, ol { margin-left: 0; }
	}
}